ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080
ConnectionStrings__Postgres=Host=db;Port=5432;Database=cyclique;Username=cyclique;Password=cyclique_password
Auth__Username=admin
Auth__Password=change-this-password
Asset__Symbol=TTE.PA
Asset__Name=TotalEnergies
Asset__Market=Euronext Paris
Scheduler__DailyRunTimeUtc=18:00
MarketData__PrimaryProvider=YahooFinance
MarketData__FallbackProvider=AlphaVantage
MarketData__SymbolMap__TTE.PA__YahooFinance=TTE.PA
MarketData__SymbolMap__TTE.PA__AlphaVantage=TTE.PA
MarketData__AlphaVantage__ApiKey=
Scheduler__RunOnStartup=true
DataProtection__KeysPath=/var/cyclique/keys
POSTGRES_DB=cyclique
POSTGRES_USER=cyclique
POSTGRES_PASSWORD=cyclique_password
